@import '../../App.scss';

.menuBottom{
    width: 230px;
    height: 62px;
    background-color: $menu-bg;
    position: absolute;
    left: 0;
    right: 0;
    top: 85%;
    bottom:0;
    margin: auto;
    border-radius: 23px;
    z-index:1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

        .icon{
            background-color: transparent;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;

            :hover{
                background-color:$menu-bg ;
                opacity: 50%;
            }
        }
}