@import '../../App.scss';

.menuBottom{
    width: 230px;
    height: 62px;
    background-color: $menu-bg;
    position: absolute;
    left: 31%;
    right: 50%;
    top: 89%;
    bottom: 2%;
    border-radius: 23px;
    z-index:1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

        .icon{
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;

            :hover{
                background-color:$menu-bg ;
                opacity: 50%;
            }
        }
}