@import '../../App.scss';

.header{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: baseline;
    padding: 1rem;
    align-items: center;
    gap: 0.5rem;

    .user{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        span{
            color: $branco;
        }
        h2{
            text-decoration: underline;
            color: $branco;
        }
    } 
}