@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    padding:0;
    border: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

$branco:white;
$menu-bg:#929189FA;
$bg-color:#232323;
$btn-amarelo:#f9ee9f9a;
$btn-amarelo-pp:#D8C200;
$modal-degrade: linear-gradiente($btn-amarelo-pp,$btn-amarelo);



